 Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    
}





/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.plan-image img{
		width: 100%;
	}
	.menu-button{
		display: block;
	}
	.main-menu > ul > li:first-child > img{
		padding: 13px 140px;
	}
	.header-menu, .right-menu{
		display: none;
	}
	.single-footer{
		margin-bottom: 40px;
	}
	.single-footer.language-area{
		margin-bottom: 0px;
		padding: 0;
	}
	.footer-left{
		text-align: center;
	}
	.footer-right{
		text-align: center;
		float: none;
	}
	.footer-language{
		width: 50%;
		float: left;
	}
	.single-search-content{
		width: 100%;

	}
	.plan-something-area{
		padding-bottom: 50px;
	}
	.desktop-search{
		display: none;
	}
    
}






/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
	.main-search-area{
    background: rgba(0,0,0,.8);
    position: fixed;
	}
	.header-menu, .right-menu{
		display: none;
	}
	.logo{
		padding: 22px 0;
	}
	.logo img{
		padding: 0;
	}
	.wrksp-image img{
		height: 220px;
	}
	.inside-text p{
		font-size: 12px;
		margin-top: -28px;
	}
	.wrksp-price{
		padding: 2px 10px;
	}

	.wrksp-image{
		height: 220px;
	}
	.header-bottom-text h1{
	    font-size: 22px;
	    margin-bottom: 25px;
	}
	.header-bottom{
		padding: 157px 0;
	}
	.search-area form input[type="text"]{
		width: 100%;
        height: 47px;
        margin: 20px 0;

	}
	.desktop-search{
		display: none;
	}
	.search-area form select{
		height: 30px;
		width: 100%;
		margin-bottom: 20px;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}
	.search-area form button[type="submit"]{
		position: relative;
		padding: 12px 0;
		border-radius: 3px;
		display: block;
		width: 100%;
		margin-left: 0px;
		margin-top: 19px;

	}
	.language-area{
		padding: 30px 0;
	}

	.plan-text{
	     text-align: left;
	    margin-left: 20px;
	}
	.plan-text h1{
		font-size: 28px;
	}
	.plan-text p{
		font-size: 16px;
		margin-bottom: 35px;
	}
	.plan-text a{
		padding: 10px 20px;
	}
	.single-footer{
		margin-bottom: 40px;
	}
	.single-footer.language-area{
		margin-bottom: 0px;
		padding: 0;
	}
	.footer-left{
		text-align: center;
	}
	.footer-right{
		text-align: center;
		float: none;
	}
	.footer-language{
		width: 50%;
		float: left;
	}
	.single-search-content{
		width: 100%;

	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width: 100%;
	}
	.search-area .btn-group.bootstrap-select button.btn{
		padding: 13px 15px;
	}


	/*hidden menu*/
	.menu-button{
		overflow: hidden;
	}
	.menu-button{
		display: block;
	}


	
	
	.deskby-breadcrumb .breadcrumb li{
		font-size: 12px;
	}

	.page-head h1{
		font-size: 22px;
	}

	.view-photo a{
		left: 70%;
		margin-left: -20px;
		font-weight: normal;
		font-size: 12px;
		padding: 5px 10px;

	}
	.ratings{
		width: 14%;
	}
	.plan-something-area{
		padding-bottom: 50px;
	}
	.ratingss h5, .ratingss h5 span{
		font-size: 14px;
	}
	.option ul li{
		margin-bottom: 7px;
	}
	.details-menu ul li a{
		font-size: 12px;
		padding: 5px;
	}
	.details-menu ul li a.active::after{
		height: 2px;
	}
	.option ul li a.btn{
		font-size: 10px;
	}
	.details-menu{
		padding: 20px 0;
	}
	.form-area{
		margin: 50px 0;
	}
	.g-map{
		display: none;
	}
	.g-map{
	    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 99999
    }
    .filter-menu-area{
    	display: none;
    }
    .map-filter{
    	display: block;
    }
    .map-cross{
    	display: block;
    }
    .is-sticky .g-map{
		width: 100% !important;
    }
	.mobile-search{
		display: block;
	}
	.left-checkbox label{
		font-size: 12px;
	    margin-left: 5px;

	}
	.left-checkbox{
		width: 100%;
		float: none;
	}
	.right-button{
		margin: 20px 0;
		width: 100%;
		float: none;
	}
	.header-bottom.about{
		padding: 100px 0;
	}
	.similer-listing{
		overflow: hidden;
		clear: both;
		border-bottom: 1px solid #ddd;
		padding-bottom: 40px;

	}
	.single-search-content:hover .map-filter{
		top: 50%;
	}

}







/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    
   
    
}



/****THE END***